@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Cabin';
    background-color: rgb(18, 18, 18);
  }

  h1 {
    color: #fff;
    font-size: 25px;
    width: 80%;
    text-align: left;
    margin-bottom: 1px;
  }

  h2 {
    color: #fff;
    font-size: 20px;
    width: 80%;
    text-align: left;
  }

  .error {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }

  .button {
    background-color: #fff;
    color:rgb(18, 18, 18);
    margin-top: 40px;
    width: 150px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #4285F4
  }